body{
    background-color: turquoise;   
}

a {
  transition: background-color 0.5s;
}
a:hover{
   background-color: gold;
}
b:hover{
     text-decoration: underline;
}

.background1:hover {
    background-color: coral;
     cursor: pointer;
}

.background2:hover {
    background-color: deeppink;
     cursor: pointer;
}

.background3:hover {
    background-color: darkkhaki;
     cursor: pointer;
}
.gap{
    display: flex;
    gap: 15px;
}
.a, .b, .c, .d, .e, .f, .g, .h {
   padding: 30px;
    cursor: pointer;
}

.a { border: 3px solid red !important; }
.a:hover {
     background-color: red;
}

.b { border: 3px solid orange !important; }
.b:hover {
     background-color: orange;
}

.c { border: 3px solid yellow !important; }
.c:hover {
     background-color: yellow;
}

.d { border: 3px solid green !important; }
.d:hover {
     background-color: green;
}

.e { border: 3px solid blue !important; }
.e:hover {
     background-color: blue;
}

.f { border: 3px solid violet !important; }
.f:hover {
     background-color: violet;
}

.g { border: 3px solid black !important; }
.g:hover {
     background-color: black;
}

.h { border: 3px solid white !important; }
.h:hover {
     background-color: white;
}

