.highlight {
    border: 2px solid orange !important;
    padding: 2px 4px !important;
}

.third {
    border: 2px dashed green !important;
    padding: 4px !important;
}

.box1 {
    border: 2px solid red;
    padding: 10px;
}

.box2 {
    border: 3px dashed blue;
    padding: 10px;
}

.box3 {
    border: 2px dotted green;
    padding: 10px;
}

.colorbox {
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.colorbox:nth-child(odd) {
    border: 2px dashed purple;
}

.colorbox:nth-child(even) {
    border: 4px dotted orange;
}

.boxes {
    display: flex;
    gap: 10px;
}

.colors {
    display: flex;
    gap: 15px;
}
