body{
    background-color: bisque;
}

p{
color: blueviolet;
}
.violet{
    color: gray;
}
.different{
    color: chocolate;
}
.colour{
    background-color: darkcyan;
}
.next{
    background-color: dodgerblue;
}
.there{
    background-color: aqua;
}
.first{
    background-color: red;
}
.second{
    background-color: orange;
}
.third{
    background-color: yellow;
}
.fourth{
    background-color: green;
}
.fifth{
    background-color: blue;
}
.sixth{
    background-color: violet;
}
.seventh{
    background-color: black;
}
.eighth{
    background-color: white;
}