.para1 {
    height: 100px;
}
.para2 {
    width: 400px;
}
.para3 {
    width: 350px;
}
.boxes {
    display: flex;
    gap: 15px;
}
.box1 {
    width: 200px;
    height: 150px;
}
.box2 {
    width: 250px;
    height: 180px;
}
.box3 {
    width: 150px;
    height: 120px;
}
.colors div:nth-child(even) {
    width: 50px;
    height: 50px;
}
.colors div {
    width: 30px;
    height: 30px;
    border: 1px dotted darkgray;
}
