body{
    background-color: darkgrey;  
}
.login{
    font-family: 'Georgia', sans-serif;
    text-align: end;
    padding: 20px 0;  
    background-color: antiquewhite;
}
.cytat{
    font-family:Arial, Helvetica, sans-serif ;
    text-align: center; 
    padding: 30px 0;  
    background-color: darkgoldenrod;
}
.documentation{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
     padding: 20px 0;  
     background-color: darkkhaki;
}
.second-menu{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: start;
     padding: 30px;   
     background-color: gold;
}
.options{
    font-family: 'Times New Roman', Times, serif;
    text-align: start; 
    padding: 30px;  
     background-color: lemonchiffon;
     flex-grow: 1;
}
.entrance{
    font-family:Impact, 'Arial Narrow Bold', sans-serif
}
.box{
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
    flex: 4 0
}
.box1{
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    flex: 4 0
}
.box3{
    font-family:  Georgia, Times, 'Times New Roman', serif;
}
a.broken{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    flex: 4 0
}
.broken2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.broken3{
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.foot{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    text-align: end; 
    padding: 5px 0;  
    background-color: chocolate;
}
.size{
    width: 1280px;
    margin: 0 auto;
}
.image-box img{
    width: 200px;
    height: 150px;
   object-fit: cover;
}
.feet{
    text-align: start; 
    background-color: darkorange;
}
.offer{
    display: flex; 
    gap: 10px;
    justify-content: space-around;
}
.text{
    display: flex; gap: 10px
}
.list{
    list-style-type: none;
}
.list1{
    list-style-type: none;
}